{% extends "layout.twig" %}

{% block content %}

<h1>Dashboard</h1>

<ul>

    <li><a href="/curso-php-jeyfredc/">Portafolio</a></li>
    <li><a href="/curso-php-jeyfredc/jobs/add">Add Job</a></li>
    <li><a href="/curso-php-jeyfredc/signin">Add User</a></li>
</ul>
<br><br>
<button class="btn btn-secundary"><a href="/curso-php-jeyfredc/logout">Logout</a></button>
{% endblock %}